securevault-docs-master/playbooks/n8n-playbook/workflows/01_contact_sales_webhook_to_crm.json
{
  "name": "01 Contact Sales → CRM",
  "nodes": [
    {
      "parameters": {
        "path": "svd/contact-sales",
        "methods": ["POST"],
        "options": {
          "responseCode": 200,
          "responseData": "allEntries",
          "responseHeaders": {
            "Content-Type": "application/json"
          }
        }
      },
      "id": "1",
      "name": "Inbound (Webhook)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "options": {
          "dotNotation": true
        },
        "assignments": [
          {
            "id": "lead",
            "value": {
              "name": "={{$json.body.name}}",
              "email": "={{$json.body.email}}",
              "company": "={{$json.body.company}}",
              "phone": "={{$json.body.phone}}",
              "useCase": "={{$json.body.useCase}}",
              "source": "svd-site",
              "env": "={{$env.SVD_ENV}}"
            }
          }
        ]
      },
      "id": "2",
      "name": "Normalize",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.SVD_API_BASE}}/hooks/leads",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={{{$json.lead}}}"
      },
      "id": "3",
      "name": "Send to Backoffice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 220]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.SVD_ALERT_SLACK_WEBHOOK}}",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "={\"text\": \"New Sales Lead: {{$json.lead.name}} ({{$json.lead.company}}) — {{$json.lead.email}}\"}"
      },
      "id": "4",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [720, 380]
    },
    {
      "parameters": {
        "fromEmail": "sales@securevaultdocs.com",
        "toEmail": "={{$env.SVD_ALERT_EMAIL}}",
        "subject": "New SVD Sales Lead",
        "text": "={{$json.lead.name}} — {{$json.lead.email}} — {{$json.lead.company}}"
      },
      "id": "5",
      "name": "Notify Sales (SES)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [980, 300],
      "credentials": {
        "smtp": {
          "id": "svd_SES",
          "name": "svd_SES"
        }
      }
    }
  ],
  "connections": {
    "Normalize": {
      "main": [
        [
          {
            "node": "Send to Backoffice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Notify Sales (SES)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Inbound (Webhook)": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "version": 2
}

