securevault-docs-master/playbooks/n8n-playbook/workflows/16_share_link_revoke_sweeper.json
{
  "name": "16 Share Link Revoke Sweeper",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 30,
              "unit": "minutes"
            }
          ]
        }
      },
      "id": "1",
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [200, 240]
    },
    {
      "parameters": {
        "requestMethod": "GET",
        "url": "={{$env.SVD_BACKOFFICE_BASE}}/shares/expired"
      },
      "id": "2",
      "name": "Fetch Expired",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 240]
    },
    {
      "parameters": {
        "functionCode": "const rows=$json.data||[]; return rows.map(r=>({json:r}));"
      },
      "id": "3",
      "name": "Split",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [720, 240]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "={{$env.SVD_BACKOFFICE_BASE}}/shares/{{ $json.id }}/revoke"
      },
      "id": "4",
      "name": "Revoke",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [980, 240]
    }
  ],
  "connections": {
    "Cron": {
      "main": [
        [
          {
            "node": "Fetch Expired",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Expired": {
      "main": [
        [
          {
            "node": "Split",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split": {
      "main": [
        [
          {
            "node": "Revoke",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "version": 2
}

