securevault-docs-master/ops/n8n/workflows/07_drive_connectors_poll.json
{
  "name": "07_drive_connectors_poll",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "cron",
      "name": "Cron (Hourly)",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Connected Drives",
          "mode": "list"
        },
        "options": {}
      },
      "id": "read-connections",
      "name": "Read Connections",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [450, 300],
      "credentials": {
        "googleSheetsOAuth2": {
          "id": "svd_google_sheets",
          "name": "svd_google_sheets"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.provider}}",
              "operation": "equal",
              "value2": "gdrive"
            }
          ]
        }
      },
      "id": "if-gdrive",
      "name": "If Google Drive",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "folderId": {
          "__rl": true,
          "value": "={{$json.folderId}}",
          "mode": "id"
        },
        "options": {
          "q": "modifiedTime > '{{$json.lastSync}}'"
        }
      },
      "id": "list-gdrive",
      "name": "List New Files",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1050, 200],
      "credentials": {
        "googleDriveOAuth2": {
          "id": "svd_gdrive_service",
          "name": "svd_gdrive_service"
        }
      }
    },
    {
      "parameters": {
        "url": "={{$env.APP_API_BASE}}/demo/upload",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"orgId\":\"{{$json.orgId}}\",\"filename\":\"{{$json.name}}\",\"source\":\"gdrive\",\"fileId\":\"{{$json.id}}\"}",
        "options": {}
      },
      "id": "forward-upload",
      "name": "Forward to Upload",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1250, 300],
      "notes": "Dev: mock endpoint. Prod: S3 presign"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "={{$env.GOOGLE_SHEET_ID}}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Drive Sync Audit",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "timestamp": "={{$now}}",
            "orgId": "={{$json.orgId}}",
            "provider": "={{$json.provider}}",
            "fileId": "={{$json.id}}",
            "filename": "={{$json.name}}"
          }
        },
        "options": {}
      },
      "id": "audit",
      "name": "Write Audit Event",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.2,
      "position": [1450, 300],
      "credentials": {
        "googleSheetsOAuth2": {
          "id": "svd_google_sheets",
          "name": "svd_google_sheets"
        }
      }
    }
  ],
  "connections": {
    "Cron (Hourly)": {
      "main": [[{"node": "Read Connections", "type": "main", "index": 0}]]
    },
    "Read Connections": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    },
    "Split In Batches": {
      "main": [[{"node": "If Google Drive", "type": "main", "index": 0}]]
    },
    "If Google Drive": {
      "main": [[{"node": "List New Files", "type": "main", "index": 0}]]
    },
    "List New Files": {
      "main": [[{"node": "Forward to Upload", "type": "main", "index": 0}]]
    },
    "Forward to Upload": {
      "main": [[{"node": "Write Audit Event", "type": "main", "index": 0}]]
    },
    "Write Audit Event": {
      "main": [[{"node": "Split In Batches", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-18T20:00:00.000Z",
  "versionId": "1"
}

