securevault-docs-master/playbooks/n8n-playbook/workflows/ai/ai_04_email_personalization.json
{
  "name": "AI Email Personalization",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "svd/ai/personalize-email",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Email Request",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "svd-ai-email"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.item.json.body || $input.item.json;\nreturn {\n  portalId: body.portalId,\n  clientName: body.clientName,\n  clientEmail: body.clientEmail,\n  businessType: body.businessType,\n  pin: body.pin\n};"
      },
      "id": "parse-input",
      "name": "Parse Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {
          "temperature": 0.5,
          "maxTokens": 500
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are an email copywriter. Write professional, friendly, and clear emails for client communications."
            },
            {
              "role": "user",
              "content": "=Write a personalized client portal invitation email:\n\nClient: {{$json.clientName}}\nEmail: {{$json.clientEmail}}\nBusiness Type: {{$json.businessType}}\nPIN: {{$json.pin}}\n\nMake it professional, clear, and include instructions on how to access the portal. Keep it under 200 words."
            }
          ]
        }
      },
      "id": "ai-generate",
      "name": "AI Email Generation (GPT-4o-mini)",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai_api_key",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiResponse = $input.item.json;\nconst emailText = typeof aiResponse === 'string' ? aiResponse : JSON.stringify(aiResponse);\n\nreturn {\n  ...$('Parse Input').item.json,\n  emailBody: emailText,\n  subject: `Your Secure Document Portal is Ready - ${$('Parse Input').item.json.clientName}`\n};"
      },
      "id": "format-email",
      "name": "Format Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_API_BASE}}/api/email/send",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"to\": \"{{$json.clientEmail}}\",\n  \"subject\": \"{{$json.subject}}\",\n  \"body\": \"{{$json.emailBody}}\",\n  \"type\": \"portal_invite\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"ok\": true,\n  \"emailSent\": true,\n  \"subject\": \"{{$json.subject}}\"\n}",
        "options": {}
      },
      "id": "webhook-response",
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook - Email Request": {
      "main": [
        [
          {
            "node": "Parse Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Input": {
      "main": [
        [
          {
            "node": "AI Email Generation (GPT-4o-mini)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Email Generation (GPT-4o-mini)": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-01-15T00:00:00.000Z",
  "versionId": "1"
}

